@inject IViewLocalizer pageLocalizer;

@{
    ViewData["Title"] = pageLocalizer["page_title"];
}

<h3><b>@pageLocalizer["main_content_title"]</b></h3>
<div>
    @Html.Raw(pageLocalizer["main_content_text"].Value)
</div>

<br />

<h3><b>@pageLocalizer["general_provisions_content_title"]</b></h3>

<div>
    @Html.Raw(pageLocalizer["general_provisions_content_text"].Value)
</div>