@model MathExpressionRequest;
@inject IViewLocalizer pageLocalizer;

@{
    ViewData["Title"] = pageLocalizer["page_title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Home" asp-action="OrdinaryCalculator" method="post">
    <div>
        <div class="invalid-feedback" asp-validation-summary="ModelOnly"></div>

        <partial name="../Methods/_InstructionPartial.cshtml" />

        <div>
            <label asp-for="Equation"></label><br />
            <input asp-for="Equation" id="gradientMethod_equation_input_id" required />
            <span id="input_equation_error_message" style="color:darkred"></span>
        </div>

        <div id="values_of_variables_list_id">
            @if (ViewBag.InputedValuesOfvariables?.Count > 0)
            {
                foreach (var v in (ViewBag.InputedValuesOfvariables as List<int>))
                {
                    <div id="variable_element_id_@(v)">
                        <label>x@(v) :</label><br />
                        <input type="number" asp-for="ValuesOfVariables[v]" step="any" required />
                        <span style="color:darkred" asp-validation-for="ValuesOfVariables[v]"></span>
                    </div>
                }
            }
        </div>
    </div>

    <button class="btn btn-success" id="equation_form_submit_button_id" type="submit">@pageLocalizer["Calculate"]</button>
</form>

<div>
    @if (ViewBag.Result != null)
    {
        <p>@pageLocalizer["calculation_result"]: @ViewBag.Result</p>
    }

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <span style="color:darkred">@ViewBag.ErrorMessage</span>
    }

</div>

