@model EquationRequest;
@inject IViewLocalizer pageLocalizer;

<form asp-controller="Methods" asp-action="@ViewBag.ActionName" method="post">
    <div>
        <div class="invalid-feedback" asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Equation"></label><br />
            <input asp-for="Equation" id="gradientMethod_equation_input_id" required />
            <span id="input_equation_error_message" style="color:darkred"></span>
        </div>

        <div>
            <label asp-for="Accuracy"></label><br />
            <input type="number" placeholder="0.00001" step="any" asp-for="Accuracy" required />
            <span style="color:darkred" asp-validation-for="Accuracy"></span>
        </div>

        <div id="values_of_variables_list_id">
            @if (ViewBag.InputedValuesOfvariables?.Count > 0)
            {
                foreach (var v in (ViewBag.InputedValuesOfvariables as List<int>))
                {
                    <div id="variable_element_id_@(v)">
                        <label>x@(v) :</label><br />
                        <input type="number" asp-for="ValuesOfVariables[v]" required />
                        <span style="color:darkred" asp-validation-for="ValuesOfVariables[v]"></span>
                    </div>
                }
            }



        </div>
    </div>

    <button class="btn btn-success" id="equation_form_submit_button_id" type="submit">@pageLocalizer["Calculate"]</button>

</form>