@inject IHtmlLocalizer<CommonResource> localizer

@{
    ViewData["Title"] = localizer["newton_page_title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActionName = "Newton";
}

<h1>Newton</h1>

<partial name="_EquationForm.cshtml">