@model CalcEquationVM;
@inject IViewLocalizer pageLocalizer;

@{
    ViewData["Title"] = pageLocalizer["page_title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@pageLocalizer["main_title"]</h1>

<partial name="_EquationFormPartial.cshtml" model="Model.PostModel"/>

@if (Model.CalculationResultModel != default)
{
    <partial name="_CalculationResultsPartial.cshtml" model="Model.CalculationResultModel"/>
}
